<configuration scan="true" scanPeriod=" 5 seconds">
    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.alibaba.polardbx.common.logger.logback.ConsoleFilter"/>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{CONNECTION}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ROOT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="ROOT-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/tddl.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/tddl-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>60GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="MPP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/tddl-executor.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-executor-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{CONNECTION}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="EVENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/event.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/event-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="SLOW_DETAIL" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="SLOW_DETAIL-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/slow_detail.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/slow_detail-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>10GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="SQL" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="SQL-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/sql.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->

                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/sql-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>7</maxHistory>
                    <totalSizeCap>100GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <immediateFlush>true</immediateFlush>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="DDL" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="DDL-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/ddl.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->

                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/ddl-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>10GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="DDL_STATS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/ddl-stats.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/ddl-stats-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="SCALE_OUT_SQL" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="SCALE_OUT_SQL-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/scale_out_sql.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->

                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/scale_out_sql-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>20GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender name="SCALE_OUT_TASK" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="SCALE_OUT_TASK-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/scale_out_task.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->

                    <fileNamePattern>
                        ${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/scale_out_task-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>10GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender name="BIG_SQL" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="BIG_SQL-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/big_sql.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->

                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/big_sql-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>5GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="PHYSICAL_SLOW" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="PHYSICAL_SLOW-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/physical_slow.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/physical_slow-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>10GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="XProtocol" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="XProtocol-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/XProtocol.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/XProtocol-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="XRequest" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="XRequest-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/XRequest.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/XRequest-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="XPerf" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/XPerf.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/XPerf-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>14</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="XLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/XLog.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/XLog-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>14</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="NET_ERROR" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="NET-ERROR-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/net_error.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/net_error-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>2</maxHistory>
                    <totalSizeCap>10GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="TDDL_Dynamic_Config"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/tddl-dynamic.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-dynamic-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="TDDL_Sequence_Change"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/tddl-sequence.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-sequence-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="META_DB_LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/meta-db.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-meta-db-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>14</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="DDL_ENGINE_LOG" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="DDL-ENGINE-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/ddl-engine.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/ddl-engine-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>10GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{JOB_ID}] [%X{TASK_ID}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="DDL_META_LOG" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="DDL-META-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/ddl-meta.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->

                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/ddl-meta-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>10GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{JOB_ID}] [%X{TASK_ID}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="START_UP_LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/start-up.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-start-up-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CHECK_HA_LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/check-ha.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-check-ha-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="PRUNER_LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/pruner.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-pruner-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="TRANS" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="TRANS-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/trans.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/trans-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>20GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender name="SPM" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/spm.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/spm-%d{yyyy-MM-dd}-%i.log.gz
                </fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>512MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>30</maxHistory>
                <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
                <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} %m%n
                </pattern>
        </encoder>
    </appender>

    <appender name="STATISTIC" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="STATISTICS" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/tddl/statistics.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/statistics-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>20GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %m%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="OSS" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="OSS-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/oss.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/oss-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>20GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %m%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="SLOW_TRANS" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>tddl</DefaultValue>
        </discriminator>
        <sift>
            <appender name="SLOW-TRANS-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/slow_trans.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->

                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/slow_trans-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>7</maxHistory>
                    <totalSizeCap>100GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <immediateFlush>true</immediateFlush>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="asyncROOT" class="com.alibaba.polardbx.common.utils.logger.logback.AsyncAppender">
        <queueSize>100000</queueSize>
        <maxFlushTime>3000</maxFlushTime>
        <discardingThreshold>0</discardingThreshold>
        <!-- 错误日志包含堆栈，内容太大，超过直接丢 -->
        <neverBlock>true</neverBlock>
        <appender-ref ref="ROOT"/>
    </appender>

    <appender name="asyncSQL" class="com.alibaba.polardbx.common.utils.logger.logback.AsyncAppender">
        <queueSize>100000</queueSize>
        <maxFlushTime>3000</maxFlushTime>
        <discardingThreshold>0</discardingThreshold>
        <!-- 默认不阻塞，可能丢SQL日志 -->
        <neverBlock>true</neverBlock>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
            </pattern>
        </encoder>
        <supportRemoteConsume>true</supportRemoteConsume>
        <appender-ref ref="SQL"/>
    </appender>

    <appender name="asyncTRANS" class="com.alibaba.polardbx.common.utils.logger.logback.AsyncAppender">
        <queueSize>100000</queueSize>
        <maxFlushTime>3000</maxFlushTime>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="TRANS"/>
    </appender>

    <logger name="slow" additivity="false">
        <level value="info"/>
        <appender-ref ref="SLOW"/>
    </logger>

    <logger name="slow_detail" additivity="false">
        <level value="info"/>
        <appender-ref ref="SLOW_DETAIL"/>
    </logger>
    <logger name="physical_slow" additivity="false">
        <level value="info"/>
        <appender-ref ref="PHYSICAL_SLOW"/>
    </logger>

    <logger name="XProtocol" additivity="false">
        <level value="warn"/>
        <appender-ref ref="XProtocol"/>
    </logger>
    <logger name="XRequest" additivity="false">
        <level value="info"/>
        <appender-ref ref="XRequest"/>
    </logger>
    <logger name="XPerf" additivity="false">
        <level value="info"/>
        <appender-ref ref="XPerf"/>
    </logger>
    <logger name="XLog" additivity="false">
        <level value="info"/>
        <appender-ref ref="XLog"/>
    </logger>

    <logger name="net_error" additivity="false">
        <level value="warn"/>
        <appender-ref ref="NET_ERROR"/>
    </logger>
    <logger name="TDDL_DYNAMIC_CONFIG" additivity="false">
        <level value="info"/>
        <appender-ref ref="TDDL_Dynamic_Config"/>
    </logger>
    <logger name="TDDL_SEQUENCE_LOG" additivity="false">
        <level value="info"/>
        <appender-ref ref="TDDL_Sequence_Change"/>
    </logger>
    <logger name="META_DB_LOG" additivity="false">
        <level value="info"/>
        <appender-ref ref="META_DB_LOG"/>
    </logger>
    <logger name="DDL_ENGINE_LOG" additivity="false">
        <level value="info"/>
        <appender-ref ref="DDL_ENGINE_LOG"/>
    </logger>
    <logger name="DDL_META_LOG" additivity="false">
        <level value="info"/>
        <appender-ref ref="DDL_META_LOG"/>
    </logger>
    <logger name="START_UP_LOG" additivity="false">
        <level value="info"/>
        <appender-ref ref="START_UP_LOG"/>
    </logger>
    <logger name="CHECK_HA_LOG" additivity="false">
        <level value="info"/>
        <appender-ref ref="CHECK_HA_LOG"/>
    </logger>
    <logger name="PRUNER_LOG" additivity="false">
        <level value="info"/>
        <appender-ref ref="PRUNER_LOG"/>
    </logger>
    <logger name="TDDL_STATUS" additivity="true">
        <level value="info"/>
    </logger>
    <logger name="com.alibaba.polardbx.rpc" additivity="false">
        <level value="info"/>
        <appender-ref ref="RPC"/>
    </logger>
    <logger name="com.alibaba.polardbx.CobarServer" additivity="true">
        <level value="info"/>
    </logger>
    <logger name="com.alibaba.polardbx.config.loader" additivity="true">
        <level value="info"/>
    </logger>
    <logger name="com.alibaba.polardbx.net.handler.FrontendAuthenticator" additivity="true">
        <level value="info"/>
    </logger>
    <logger name="com.alibaba.polardbx.common.utils.AddressUtils" additivity="true">
        <level value="info"/>
    </logger>
    <logger name="com.alibaba.polardbx.config.manager" additivity="true">
        <level value="warn"/>
    </logger>
    <logger name="sql" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="asyncSQL"/>
    </logger>
    <logger name="ddl" additivity="false">
        <level value="info"/>
        <appender-ref ref="DDL"/>
    </logger>
    <logger name="ddl_stats" additivity="false">
        <level value="info"/>
        <appender-ref ref="DDL_STATS"/>
    </logger>
    <logger name="big_sql" additivity="false">
        <level value="info"/>
        <appender-ref ref="BIG_SQL"/>
    </logger>
    <logger name="scale_out_sql" additivity="false">
        <level value="info"/>
        <appender-ref ref="SCALE_OUT_SQL"/>
    </logger>
    <logger name="scale_out_task" additivity="false">
        <level value="info"/>
        <appender-ref ref="SCALE_OUT_TASK"/>
    </logger>
    <logger name="diagnose" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="DIAGNOSE"/>
    </logger>
    <logger name="trans" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="asyncTRANS"/>
    </logger>

    <logger name="slow_trans" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="SLOW_TRANS"/>
    </logger>

    <logger name="event" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="EVENT"/>
    </logger>

    <logger name="spm" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="SPM"/>
    </logger>
    <logger name="STATISTICS" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="STATISTIC"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.whatIf" additivity="false">
        <level value="info"/>
        <appender-ref ref="STATISTIC"/>
    </logger>
    <logger name="com.alibaba.polardbx.optimizer.sharding.advisor" additivity="false">
        <level value="info"/>
        <appender-ref ref="STATISTIC"/>
    </logger>
    <logger name="oss" additivity="false">
        <level value="info"/>
        <appender-ref ref="OSS"/>
    </logger>
    <logger name="com.alibaba.polardbx.common.oss" additivity="false">
        <level value="info"/>
        <appender-ref ref="OSS"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.archive" additivity="false">
        <level value="info"/>
        <appender-ref ref="OSS"/>
    </logger>
    <logger name="org.apache.orc" additivity="false">
        <level value="info"/>
        <appender-ref ref="OSS"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.mpp.discover" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.mpp.execution" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>

    <logger name="com.alibaba.polardbx.executor.mpp.execution" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>

    <logger name="com.alibaba.polardbx.executor.mpp.server" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.mpp.web" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="io.airlift" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <root level="WARN">
        <appender-ref ref="asyncROOT"/>
    </root>
</configuration>
