*.bak
*.class
*.iml
*.jdb
*.lck
*.log
.DS_Store
.classpath
.idea/
.project
.settings/
.svn/
.vscode
bdbtmp/
git.properties
je.info.*
logs
package-info.java
polardbx-rpc/src/main/proto/com/
polardbx-server/logs
polardbx-server/src/main/resources/*.properties
polardbx-server/src/main/resources/logback.xml
target/
